```{=html}
<% for (const item of items) { %>

  <h4><%- item.category %></h4>
  <!-- <ul class="list"> -->
  <% for (const tile of item.tiles) { %>
    <li <%= metadataAttrs(tile) %>>
      <% if(tile.slug){ %>
      <a href="resources/<%- tile.slug %>.html" class="listing-name"><%=
      tile.title %></a>
      <% } else{ %>  
        <a href="<%- tile.href %>" class="listing-name"><%= tile.title %></a>
      <% } %>
    </li>
  <!-- </ul> -->
  <% } %>
<% } %>

```