```{=html}
<div class="grid">
  <% items.forEach(function(tile){ %>
    <div class="g-col-3">
      <div class="card text-dark bg-light mb-3">
        <div class="card-header">
          <a href="<%- tile.href %>" class="listing-title"><%= tile.title %></a> 
        </div>
        <div class="card-body">
          <a href="<%- tile.href %>">
            <img src="<%- tile.thumbnail %>" alt="<%- tile.description %>" class="card-img-top"/>
          </a>
        </div>
      </div>
    </div>
  <% }); %>
</div>
```